.btn-disney {
  border-radius: 0px;
  background-color: $disney-light-blue;
  color: $disney-white;
  font-family: $disney-sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
