.btn-disney {
  border-radius: 0px;
  background-color: $disney-light-blue;
  color: $disney-white;
  font-family: 'Jersey Letters';
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
