$logo-disneyside-width: 188px;
$logo-disneyside-height: 138px;
$logo-varsity-width: 143px;
$logo-varsity-height: 159px;
$logo-caption-width: 86px;

.logo {
  display: inline-block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;

  &.espn {
    width: 65px;
    height: 16px;
    @include img-retina($image-path + 'logo_espn.png', $image-path + 'logo_espn@2x.png', 65px, 16px);
  }

  &.espn:hover,
  &.espn:active,
  &.espn.active {
    @include img-retina($image-path + 'logo_espn_active.png', $image-path + 'logo_espn_active@2x.png', 65px, 16px);
  }

  &.disneyside {
    display: inline-block;
    width: $logo-disneyside-width;
    height: $logo-disneyside-height;
    background-image: url($image-path + 'logo_disneyside.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
  }

  &.varsity {
    width: $logo-varsity-width;
    height: $logo-varsity-height;
    @include img-retina($image-path + 'logo_varsity.png', $image-path + 'logo_varsity@2x.png', $logo-varsity-width, $logo-varsity-height);
  }

}

.footer-logo,
.footer-logo-caption {
  text-align: center;
}

.logo-caption {
  display: inline-block;
  width: $logo-disneyside-width;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #fff;
  font-family: 'futura-pt';
  font-weight: bold;

  .hash {
    font-weight: normal;
  }
}

html.nosvg {
  .logo.disneyside {
    background-image: url($image-path + 'logo_disneyside.png');
  }
}

@media (min-width: $screen-sm-min){
  .footer-logo {
    &.disneyside {
      text-align: right;
    }
    &.varsity {
      text-align: left;
    }
  }
  .logo-caption {
    float: right;
  }
}
