// Paths
$fonts-dir: '../fonts/';
$image-path: '../images/';

// Project Colors
$disney-red: #fc0623;
$disney-white: #fafbfc;
$disney-blue: #123961;
$disney-light-blue: #3ea1ca;
$section-bg-color: #102940;

// Project Fonts
$disney-sans-serif: "arvo";

// Project Sizes
$disney-section-max-width: 730px;

// Bootstrap Overrides
$text-color: #fff;
$body-bg: $disney-blue;
$link-color: $disney-light-blue;
//$link-hover-color: $disney-light-blue;
$font-family-sans-serif: $disney-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
